@{
	ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"] </h1>
<h1> ABC Retailers Contact Page</h1>
<div>
	<h3>ABC Retailers</h3>
	<p><strong>Address:</strong> IIE </p>
	<p>
		<strong>Email:</strong> <a href="office:contact@abcretailers.com">contact@abcretailers.com</a>
	</p>
	<p><strong>Phone:</strong> +27 000...</p>
</div>
<hr />
<div>
	<h4>Operational Hours </h4>
	<ul>
		<li>Monday - Friday: 9:00 AM – 6:00 PM</li>
		<li>Saturday: 10:00 AM – 4:00 PM</li>
		<li>Sunday: Closed</li>
	</ul>
	<div>
		<div>
			<h4>Send Us an Enquiry</h4>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXacZSQpoar9k6YfNTGDs_a-iQuxsHLRnG-VYeArkbVrOwVw/viewform?usp=header"
					width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">
			</iframe>
			<h4>Location</h4>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.4770464857484!2d27.876455!3d-26.083342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e959ef5277b96a7%3A0xc4aa15508f8e5e8c!2sIIE%20MSA!5e0!3m2!1sen!2sza!4v1759402895319!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
